<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content(Links.Content.Admin.Site_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.Themes.@base.minified.jquery_ui_min_css)" rel="stylesheet" type="text/css" />
    <script src="@Url.Content(Links.Scripts.jquery_1_6_4_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.jquery_ui_1_8_16_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.jquery_validate_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.jquery_validate_unobtrusive_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.jquery_unobtrusive_ajax_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.jquery_ui_timepicker_addon_js)" type="text/javascript"></script>

    <!--Old Browser Compatibility Scripts -->
    <script src="@Url.Content(Links.Scripts.modernizr_2_0_6_development_only_js)" type="text/javascript"></script>
    <script src="@Url.Content(Links.Scripts.json2_js)" type="text/javascript"></script>
</head>

<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Blog Admin</h1>
            </div>
            <div id="logindisplay">
                Welcome @Context.User.Identity.Name | @Html.ActionLink("Go to Blog", MVC.Post.Index())
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Posts", MVC.Admin.Post.Index())</li>
                    <li>@Html.ActionLink("Comments", MVC.Admin.Comment.Index())</li>
                    <li>@Html.ActionLink("Users", MVC.Admin.User.Index())</li>
                    <li>@Html.ActionLink("Settings", MVC.Admin.Setting.Index())</li>
                    <li>@Html.ActionLink("Pages", MVC.Admin.Page.Index())</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
