<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />

        <script src="~/lib/jquery/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jqueryui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
        <script src="~/lib/tinymce/jquery.tinymce.min.js" asp-append-version="true"></script>
        <link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
                asp-fallback-src="~/lib/twitter-bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
                asp-fallback-src="~/lib/jquery-validate/jquery.validate.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator"
                crossorigin="anonymous"
                integrity="sha256-F6h55Qw6sweK+t7SiOJX+2bpSAa3b/fnlrVCJvmEj1A=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"
                asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive"
                crossorigin="anonymous"
                integrity="sha256-zkVFxDCBA0K+Fl6QZDRpD0G+GQ+TfuGv7xXkIAM69h8=">
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    </environment>

    <title>@ViewBag.Title</title>

    <script src="~/js/admin.js" asp-append-version="true"></script>
</head>

<body>
    <partial name="NotifyBar" />
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark mb-4" role="navigation" style="background-color: rgb(34, 34, 34);">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-header">
                    <a asp-area="" asp-controller="Post" asp-action="Index" class="navbar-brand">Go to Blog</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Post" asp-action="Index" class="nav-link">@FujiyBlog.Web.Resources.Labels.Posts</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Comment" asp-action="Index" class="nav-link">@FujiyBlog.Web.Resources.Labels.Comments</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link">@FujiyBlog.Web.Resources.Labels.Users</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Setting" asp-action="Index" class="nav-link">@FujiyBlog.Web.Resources.Labels.Settings</a></li>
                        <li class="nav-item"><a asp-area="Admin" asp-controller="Page" asp-action="Index" class="nav-link">@FujiyBlog.Web.Resources.Labels.Pages</a></li>
                        <li class="nav-item">
                            Welcome @Context.User.Identity.Name
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @RenderBody()
                <hr />
            </div>
        </div>
        <footer class="row">
            <div class="col-12 text-center">
                <p><a href="https://github.com/felipepessoto/FujiyBlog">FUJIYBLOG</a> v0.6</p>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
