@model AdminRoleSave

@{
    Layout = "_Layout";
    ViewBag.Title = (Model.Id != null ? "Edit" : "Add") + " Role";
}

<h2>@(Model.Id != null ? "Edit" : "Add") Role</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <legend>Role</legend>

    @if (Model.Id != null)
    {
        @Html.HiddenFor(model => model.Id)
    }

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>

        @if (string.Equals(Model.Name, "Anonymous", StringComparison.OrdinalIgnoreCase))
        {
            @Model.Name
        }
        else
        {
            <input asp-for="Name" class="form-control" />
        }

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

        <div class="form-group">
            <label asp-for="Claims" class="control-label"></label>
            @foreach (var role in Enum.GetNames(typeof(PermissionClaims)))
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="claims" value="@role" @(Model.Claims.Any(x => x == role) ? "checked=checked" : string.Empty) />@role
                    </label>
                </div>
            }
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-default pull-right">Back to list</a>
        </div>
}

