@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.Extensions

@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminUserSave
@{
    Layout = "_Layout";
    bool canEditRoles = (Model.Username != User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOtherUsersRoles)) || (Model.Username == User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOwnRoles));
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
        <legend>User</legend>
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label asp-for="Username" class="control-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DisplayName" class="control-label"></label>
            <input asp-for="DisplayName" class="form-control" />
            <span asp-validation-for="DisplayName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="control-label"></label>
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedRoles" class="control-label"></label>
            
            @foreach (var role in Model.AllRoles)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedRoles" value="@role.Id" @(Model.SelectedRoles.Any(x => x == role.Id) ? "checked=checked" : string.Empty) @(canEditRoles ? string.Empty : "disabled=disabled") />@role.Name
                    </label>
                </div>
            }
            
        </div>
        <div class="form-group">
            <label asp-for="About" class="control-label"></label>
            <textarea asp-for="About" class="form-control"></textarea>
            <span asp-validation-for="About" class="text-danger"></span>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary float-right">Back to list</a>
        </div>

}
