@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.Extensions

@inject FujiyBlog.Core.DateTimeUtil DateTimeUtil

@model IEnumerable<ApplicationUser>
@{
    Layout = "_Layout";
    ViewBag.Title = FujiyBlog.Web.Resources.Labels.Users;
}

<h2>@FujiyBlog.Web.Resources.Labels.Users</h2>

@if (Context.UserHasClaimPermission(PermissionClaims.CreateNewUsers))
{
    <p>
        @Html.ActionLink("Create New User", "Create")
    </p>
}

<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            DisplayName
        </th>
        <th>
            FullName
        </th>
        <th>
            CreationDate
        </th>
        <th>
            LastLoginDate
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr id="item-row-@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @DateTimeUtil.ConvertUtcToMyTimeZone(item.CreationDate)
            </td>
            <td>
                @DateTimeUtil.ConvertUtcToMyTimeZone(item.LastLoginDate)
            </td>
            <td>
            @if ((item.UserName != User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOtherUsers)) ||
                (item.UserName == User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOwnUser)))
            {
                <text>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                
                <span id="disable-link-@item.Id"@if(!item.Enabled){<text> style="display:none"</text>}>
                    <a asp-controller="User" asp-action="Disable" asp-route-id="@item.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("AfterDisable(arguments[0], '" + item.Id + "');")">Disable</a>
                </span>
                <span id="enable-link-@item.Id"@if(item.Enabled){<text> style="display:none"</text>}>
                    <a asp-controller="User" asp-action="Enable" asp-route-id="@item.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("AfterEnable(arguments[0], '" + item.Id + "');")">Enable</a>
                </span>
                </text>
            }
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    function AfterDisable(response, itemId) {
        if (!response.errorMessage) {
            $('#disable-link-' + itemId).hide();
            $('#enable-link-' + itemId).show();
        }
        else {
            alert(response.errorMessage);
        }
    }

    function AfterEnable(response, itemId) {
        if (!response.errorMessage) {
            $('#disable-link-' + itemId).show();
            $('#enable-link-' + itemId).hide();
        }
        else {
            alert(response.errorMessage);
        }
    }
</script>
