@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.Extensions

@inject FujiyBlog.Core.DateTimeUtil DateTimeUtil

@model IEnumerable<ApplicationUser>
@{
    Layout = "_Layout";
    ViewBag.Title = FujiyBlog.Web.Resources.Labels.Users;
}

<h2>@FujiyBlog.Web.Resources.Labels.Users</h2>

@if (Context.UserHasClaimPermission(PermissionClaims.CreateNewUsers))
{
    <a asp-action="Create" class="btn btn-secondary">Create New User</a>
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Display Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Creation Date
            </th>
            <th>
                Last Login Date
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="item-row-@item.Id">
                <td>
                    @if ((item.UserName != User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOtherUsers)) ||
(item.UserName == User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOwnUser)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @DateTimeUtil.ConvertUtcToMyTimeZone(item.CreationDate)
                </td>
                <td>
                    @DateTimeUtil.ConvertUtcToMyTimeZone(item.LastLoginDate)
                </td>
                <td>
                    @if ((item.UserName != User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOtherUsers)) ||
(item.UserName == User.Identity.Name && Context.UserHasClaimPermission(PermissionClaims.EditOwnUser)))
                    {

                        <span id="disable-link-@item.Id" style="@(item.Enabled == false ? "display:none": null)">
                            <a asp-controller="User" asp-action="Disable" asp-route-id="@item.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("AfterDisable(arguments[0], '" + item.Id + "');")" class="btn btn-secondary">Disable</a>
                        </span>
                        <span id="enable-link-@item.Id" style="@(item.Enabled ? "display:none": null)">
                            <a asp-controller="User" asp-action="Enable" asp-route-id="@item.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("AfterEnable(arguments[0], '" + item.Id + "');")" class="btn btn-secondary">Enable</a>
                        </span>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function AfterDisable(response, itemId) {
        if (!response.errorMessage) {
            $('#disable-link-' + itemId).hide();
            $('#enable-link-' + itemId).show();
        }
        else {
            alert(response.errorMessage);
        }
    }

    function AfterEnable(response, itemId) {
        if (!response.errorMessage) {
            $('#disable-link-' + itemId).show();
            $('#enable-link-' + itemId).hide();
        }
        else {
            alert(response.errorMessage);
        }
    }
</script>
