@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Web.Models
@using FujiyBlog.Core.Extensions

@model IEnumerable<PostComment>

    @foreach (PostComment comment in Model)
    { 
        <div id="comment_id@(comment.Id)" class="comment@(comment.Post.Author == comment.Author ? " self" : "")">
            <p class="date">@FujiyBlog.Web.Common.DateTimeUtil.ConvertUtcToMyTimeZone(comment.CreationDate)</p>
            <p class="gravatar">
                GRAVATAR</p>
            <p class="content">@Html.Raw(comment.Comment)</p>

            @if (comment.Author == null)
            { 
                if (!string.IsNullOrEmpty(comment.AuthorWebsite))
                {
                    <a href="@comment.AuthorWebsite" target="_blank" rel="nofollow">@(comment.Author == null ? comment.AuthorName : comment.Author.DisplayName)</a>
                }
                else
                {
                    <span>@comment.AuthorName</span>
                }
            }
            else { 
                @Html.ActionLink(comment.Author.DisplayName ?? comment.Author.Username, MVC.Post.Author(comment.Author.Username, null))
            }

            @if (User.IsInRole(Permission.CreateComments))
            {
                <text>| @Ajax.ActionLink("Reply", MVC.Comment.ReplyComment(comment.Id), new AjaxOptions {HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reply-comment-" + comment.Id}) <div id="reply-comment-@comment.Id"></div></text>
            }
            @if (!comment.IsApproved && User.IsInRole(Permission.ModerateComments))
            {
                @(Ajax.ActionLink("Approve", MVC.Admin.Comment.ActionNames.ApproveSelected, MVC.Admin.Comment.Name, new {Area = "Admin", selectedComments = comment.Id}, new AjaxOptions {HttpMethod = "POST"}))
                @(Ajax.ActionLink("Disapprove", MVC.Admin.Comment.ActionNames.DisapproveSelected, MVC.Admin.Comment.Name, new {Area = "Admin", selectedComments = comment.Id}, new AjaxOptions {HttpMethod = "POST"}))
            }
            
            <div class="comment-replies" id="replies_@(comment.Id)">
                @{Html.RenderPartial(MVC.Themes.Views.Default.Comment.Comments, comment.NestedComments);}
            </div>
        </div>
    }

