@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Web.Models
@using FujiyBlog.Core.Extensions

@model IEnumerable<PostComment>

    @foreach (PostComment comment in Model)
    { 
        <div id="comment_id@(comment.Id)" class="comment@(comment.Post.Author == comment.Author ? " self" : "")">
            <p class="date">@FujiyBlog.Web.Common.DateTimeUtil.ConvertUtcToMyTimeZone(comment.CreationDate)</p>
            <p class="gravatar">
                GRAVATAR</p>
            <p class="content">@Html.Raw(comment.Comment)</p>

            @if (comment.Author == null)
            { 
                if (!string.IsNullOrEmpty(comment.AuthorWebsite))
                {
                    <a href="@comment.AuthorWebsite" target="_blank" rel="nofollow">@(comment.Author == null ? comment.AuthorName : comment.Author.DisplayName)</a>
                }
                else
                {
                    <span>@comment.AuthorName</span>
                }
            }
            else { 
                @Html.ActionLink(comment.Author.DisplayName ?? comment.Author.Username, MVC.Post.Author(comment.Author.Username, null))
            }

            @if (User.IsInRole(Role.CreateComments))
            {
                <text>| @Ajax.ActionLink("Reply", MVC.Comment.ReplyComment(comment.Id), new AjaxOptions {HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "reply-comment-" + comment.Id}) <div id="reply-comment-@comment.Id"></div></text>
            }
            
            @if (User.IsInRole(Role.ModerateComments))
            {
                
                @(Ajax.ActionLink("Approve", MVC.Comment.Approve(comment.Id), new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#link-approve-comment-" + comment.Id + "').fadeOut('normal', function() {$('#link-disapprove-comment-" + comment.Id + "').fadeIn('normal');});" }, new { id = "link-approve-comment-" + comment.Id, style = comment.IsApproved ? "display: none;" : string.Empty }))
                
                @(Ajax.ActionLink("Disapprove", MVC.Comment.Disapprove(comment.Id), new AjaxOptions { HttpMethod = "POST", OnSuccess = "$('#link-disapprove-comment-" + comment.Id + "').fadeOut('normal', function() {$('#link-approve-comment-" + comment.Id + "').fadeIn('normal');});" }, new { id = "link-disapprove-comment-" + comment.Id, style = !comment.IsApproved ? "display: none;" : string.Empty }))
                
                <text>|</text>
                @(Ajax.ActionLink("Delete", MVC.Comment.Delete(comment.Id), new AjaxOptions { HttpMethod = "POST", Confirm = "Sure?", OnSuccess = "$('#comment_id" + comment.Id + "').slideUp(1000, function () {$(this).remove();});" }))
            }
            
            
            <div class="comment-replies" id="replies_@(comment.Id)">
                @{Html.RenderPartial(MVC.Themes.Views.Default.Comment.Comments, comment.NestedComments);}
            </div>
        </div>
    }

