@model FujiyBlog.Core.DomainObjects.PostComment

@using (Ajax.BeginForm(MVC.Comment.ActionNames.DoComment, MVC.Comment.Name, new { id = Model.Post.Id }, new AjaxOptions { InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = Model.ParentComment == null ? "commentlist" : "replies_" + Model.ParentComment.Id, OnSuccess = Model.ParentComment == null ? string.Empty : "$('#reply-comment-" + @Model.ParentComment.Id + "').html('');" }))
{
    if (Model.ParentComment != null)
    {
        @Html.Hidden("ParentCommentId", Model.ParentComment.Id)
    }
    <div id="comment-form">
    <div class="commentForm">
        <p id="addcomment">
            Comment</p>
            @if (!Request.IsAuthenticated)
            { 
        @Html.LabelFor(x => x.AuthorName)
        @Html.TextBoxFor(x => x.AuthorName, new{data_val="true", data_val_required="The Name field is required." })
        @Html.ValidationMessageFor(x => x.AuthorName)

        @Html.LabelFor(x => x.AuthorEmail)
        @Html.EditorFor(x => x.AuthorEmail)
        @Html.ValidationMessageFor(x => x.AuthorEmail)

        @Html.LabelFor(x => x.AuthorWebsite)
        @Html.EditorFor(x => x.AuthorWebsite)
        @Html.ValidationMessageFor(x => x.AuthorWebsite)
            }
        <div id="commentCompose">
            @Html.LabelFor(x => x.Comment)
            @Html.TextAreaFor(x => x.Comment)
            @Html.ValidationMessageFor(x => x.Comment)
        </div>
        <input type="submit" value="Save comment" />
    </div>
</div>
}
