@using FujiyBlog.Web.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content(Links.Content.Themes.Default.Site_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.Themes.@base.minified.jquery_ui_min_css)" rel="stylesheet" type="text/css" />
    
    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <link type="application/rss+xml" rel="alternate" href="@Url.Action(MVC.Feed.Rss20())" />
</head>

<body>
    <div>
        <div id="header-wrapper">
            <div id="header-title">
                <h1><a href="@Url.Content("~/")">@Settings.SettingRepository.BlogName</a></h1>
                <p>@Settings.SettingRepository.BlogDescription</p>
            </div>
            <div id="menu">
                <ul>

                    <li class="current_page_item"><a href="@Url.Content("~/")">Home</a></li>
                    <li>@Html.ActionLink(Resources.Labels.Archive, MVC.Post.Archive())</li>
                    <li>@Html.ActionLink(Resources.Labels.Contact, MVC.Contact.Index())</li>
                    <li>@Html.ActionLink("RSS 2.0", MVC.Feed.Rss20()) / @Html.ActionLink("Atom 1.0", MVC.Feed.Atom10())</li>
                    <li>@(Request.IsAuthenticated ? Html.ActionLink("Log Off", "LogOff", "Account") : Html.ActionLink("Log On", "LogOn", "Account"))</li>
                </ul>
            </div>
        </div>
        <div id="page">
            <div id="content">
                @RenderBody()
                <div style="clear: both;">&nbsp;</div>
            </div>
        
            <div id="sidebar">
                <ul id="sidebar-wrapper">  
                    @Html.Action(MVC.Widget.Index("Zone1"))
                </ul>
            </div>
            <div style="clear: both;">&nbsp;</div>
        </div>
    </div>

    <div id="footer">
        <p><a href="http://www.fujiyblog.com/">FUJIYBLOG</a> v.01</p>
    </div>

    <script src="@Url.Action(MVC.JavaScript.FujiyBlogBundle())" type="text/javascript"></script>

    
    @if (Settings.SettingRepository.EnableGooglePlusOnePosts)
    {
        <script type="text/javascript">
            (function () {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();
        </script>
    }
    @if (Settings.SettingRepository.EnableTwitterSharePosts)
    {
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
    }
</body>
</html>
