@using FujiyBlog.Web.Models

@inject FujiyBlog.Core.EntityFramework.SettingRepository settings
@inject SignInManager<FujiyBlog.Core.DomainObjects.ApplicationUser> SignInManager

@functions{
    public string FeedsUrl()
    {
        if (!string.IsNullOrWhiteSpace(settings.AlternateFeedUrl))
        {
            return settings.AlternateFeedUrl;
        }
        return Url.Action("Rss20", "Feed");
        //TODO return settings.DefaultFeedOutput == "RSS" ? Url.Action(MVC.Feed.Rss20()) : Url.Action(MVC.Feed.Atom10());
    }

    public string CanonicalUrl()
    {
        return "";
        //TODO implementar
        /*
        RouteValueDictionary valores = new RouteValueDictionary(ViewContext.RouteData.Values);
        foreach (KeyValuePair<string, ModelState> keyValuePair in ViewContext.ViewData.ModelState.Where(x => x.Value.Value != null))
        {
            valores[keyValuePair.Key] = keyValuePair.Value.Value.AttemptedValue;
        }

        return Url.RouteUrl(null, valores, Request.Url.Scheme, null);
        */
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Content/Themes/Default/Site.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/prism/themes/prism.css">
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/Content/Themes/Default/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/lib/prism/themes/prism.css">
    </environment>

    <link href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet" type="text/css" />

    <link rel="canonical" href="@CanonicalUrl()" />

    <title>@ViewBag.Title</title>

    <meta name="title" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <link type="application/rss+xml" rel="alternate" href="@FeedsUrl()" />

    @if (!string.IsNullOrEmpty(@settings.FacebookAdminIds))
    {
        <meta property="fb:admins" content="@settings.FacebookAdminIds" />
    }
    @if (!string.IsNullOrEmpty(@settings.FacebookAppId))
    {
        <meta property="fb:app_id" content="@settings.FacebookAppId" />
    }
    <meta property="og:site_name" content="@settings.BlogName" />

    @if (IsSectionDefined("OpenGraphTags"))
    {
        @RenderSection("OpenGraphTags")
    }
    else
    {
        <meta property="og:title" content="@ViewBag.Title" />
        <meta property="og:type" content="blog" />
        <meta property="og:url" content="@Url.Action("Index", "Post", null, Context.Request.Scheme)" />
        <meta property="og:image" content="@settings.OpenGraphImageUrl" />
        <meta property="og:description" content="@ViewBag.Description" />
    }

    @if (IsSectionDefined("TwitterCardsTags"))
    {
        @RenderSection("TwitterCardsTags")
    }
    else
    {
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@settings.TwitterBlogAccount">
        <meta name="twitter:title" content="@ViewBag.Title">
        <meta name="twitter:description" content="@ViewBag.Description">
        <meta name="twitter:creator" content="">
        <meta name="twitter:image:src" content="@settings.OpenGraphImageUrl">
        <meta name="twitter:domain" content="@Url.Action("Index", "Post", null, Context.Request.Scheme)">
    }

    @if (!string.IsNullOrWhiteSpace(settings.ApplicationInsightsInstrumentationKey))
    {
        <script type="text/javascript">
            var appInsights = window.appInsights || function (config) {
                function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
            }({
                instrumentationKey: "@Html.Raw(settings.ApplicationInsightsInstrumentationKey)"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>
    }
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark mb-4" role="navigation" style="background-color: rgb(34, 34, 34);">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Content("~/")"><h1>@settings.BlogName</h1></a>
                    <p style="color: #FFF">@settings.BlogDescription</p>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item @(Url.Action("Index", "Post", null, Context.Request.Scheme) == CanonicalUrl() ? " active" : "")"><a class="nav-link" href="@Url.Content("~/")">Home</a></li>
                        <li class="nav-item @(Url.Action("Archive", "Post", null, Context.Request.Scheme) == CanonicalUrl() ? " active" : "")"><a class="nav-link" asp-controller="Post" asp-action="Archive">@FujiyBlog.Web.Resources.Labels.Archive</a></li>
                        <li class="nav-item @(Url.Action("Contact", "Post", null, Context.Request.Scheme) == CanonicalUrl() ? " active" : "")"><a class="nav-link" asp-controller="Contact" asp-action="Index">@FujiyBlog.Web.Resources.Labels.Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="@FeedsUrl()">Feed</a></li>
                        <li class="nav-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <a class="nav-link" href="javascript:void(0);" onclick="document.getElementById('logoutForm').submit(); return false;">Sign out</a>
                                </form>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Account" asp-action="Login" class="nav-link">Sign in</a>
                            }
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>

    <div class="container-fluid">


        <div class="row">
            <div class="col-9">
                <div id="content">
                    @RenderBody()
                </div>
            </div>
            <div class="col-3">
                <ul id="sidebar">
                    @await Component.InvokeAsync("Widget", new { zoneName = "Zone1" })
                </ul>
            </div>
        </div>
        <footer class="blog-footer row">
            <p><a href="http://www.fujiyblog.com/">FUJIYBLOG</a> v0.6</p>
        </footer>

    </div>

    <script type="text/javascript">
        fujiyBlogUrls = {};
        fujiyBlogUrls.Search_Index = '@Url.Action("Index", "Search")';
        fujiyBlogUrls.Widget_Edit = '@Url.Action("Edit", "Widget")';
        fujiyBlogUrls.Widget_Sort = '@Url.Action("Sort","Widget")';
        fujiyBlogUrls.Social_LoginOpenId = '@Url.Action("LoginOpenId", "Social")';
        fujiyBlogUrls.OpenIdSelectorImages = '@Url.Content("~/Content/openid/images/")';
    </script>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/prism/prism.js" asp-append-version="true"></script>
        <script src="~/lib/prism/plugins/autoloader/prism-autoloader.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/prism/prism.min.js" asp-append-version="true"></script>
        <script src="~/lib/prism/plugins/autoloader/prism-autoloader.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
            Prism.plugins.autoloader.languages_path = '@Url.Content("~/lib/prism/components/")';
    </script>

    @RenderSection("scripts", false)

    @if (!string.IsNullOrEmpty(settings.CustomCode))
    {
        @Html.Raw(settings.CustomCode)
    }
</body>
</html>
