@using FujiyBlog.Web.Extensions
@using FujiyBlog.Web.ViewModels
@model ContactForm
@{
    ViewBag.Title = Resources.Labels.Contact;
    Layout = this.FindLayoutPath("_Layout");
}

@using (Html.BeginForm(MVC.Contact.Index()))
{
    <div id="contact">
        <div>
            <h1>@Resources.Labels.Contact</h1>

            <div><p>@Resources.Labels.SendYourMessage</p></div>

            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
      
            @Html.LabelFor(x => x.Email)
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
      
            @Html.LabelFor(x => x.Subject)
            @Html.EditorFor(x => x.Subject)
            @Html.ValidationMessageFor(x => x.Subject)
      
            @Html.LabelFor(x => x.Body)
            @Html.EditorFor(x => x.Body)
            @Html.ValidationMessageFor(x => x.Body) 

            <input type="submit" value="@Resources.Labels.Send" />
        </div>
    </div>
}
