@using FujiyBlog.Web.Extensions
@using FujiyBlog.Web.ViewModels
@using FujiyBlog.Web.Models
@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.Extensions

@inject  FujiyBlog.Core.EntityFramework.SettingRepository settings

@model ContactForm
@{
    ViewBag.Title = FujiyBlog.Web.Resources.Labels.Contact;
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    <div id="contact">
        <div>
            <h1>@FujiyBlog.Web.Resources.Labels.Contact</h1>

            <div><p>@FujiyBlog.Web.Resources.Labels.SendYourMessage</p></div>

            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)

            @Html.LabelFor(x => x.Email)
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)

            @Html.LabelFor(x => x.Subject)
            @Html.EditorFor(x => x.Subject)
            @Html.ValidationMessageFor(x => x.Subject)

            @Html.LabelFor(x => x.Body)
            @Html.EditorFor(x => x.Body)
            @Html.ValidationMessageFor(x => x.Body)

            @if (settings.ReCaptchaEnabled && !Context.UserHasClaimPermission(PermissionClaims.ModerateComments))
            {
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="@settings.ReCaptchaPublicKey"></div>
            }

            <input type="submit" value="@FujiyBlog.Web.Resources.Labels.Send" />
        </div>
    </div>
}
