@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Index" ? "active": "")">
        <a asp-action="Index">Basic</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Email" ? "active": "")">
        <a asp-action="Email">Email</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Comments" ? "active": "")">
        <a asp-action="Comments">Comments</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "SocialNetworks" ? "active": "")">
        <a asp-action="SocialNetworks">Social Networks</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Feed" ? "active": "")">
        <a asp-action="Feed">Feed</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Import" ? "active": "")">
        <a asp-action="Import">Import</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Cache" ? "active": "")">
        <a asp-action="Cache">Cache</a>
    </li>
    <li class="@(((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName == "Logs" ? "active": "")">
        <a asp-action="Logs">Logs</a>
    </li>
</ul>

@RenderBody()