@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active": "")">Basic</a>
    </li>
    <li class="nav-item">
        <a asp-action="Email" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Email" ? "active": "")">Email</a>
    </li>
    <li class="nav-item">
        <a asp-action="Comments" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Comments" ? "active": "")">Comments</a>
    </li>
    <li class="nav-item">
        <a asp-action="SocialNetworks" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "SocialNetworks" ? "active": "")">Social Networks</a>
    </li>
    <li class="nav-item">
        <a asp-action="Feed" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Feed" ? "active" : "")">Feed</a>
    </li>
    <li class="nav-item">
        <a asp-action="Storage" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Storage" ? "active": "")">Storage</a>
    </li>
    <li class="nav-item">
        <a asp-action="Import" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Import" ? "active": "")">Import</a>
    </li>
    <li class="nav-item">
        <a asp-action="Cache" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Cache" ? "active": "")">Cache</a>
    </li>
    <li class="nav-item">
        <a asp-action="Logs" class="nav-link @(ViewContext.RouteData.Values["Action"].ToString() == "Logs" ? "active": "")">Logs</a>
    </li>
</ul>

@RenderBody()