@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminCommentsSettings
@{
    ViewBag.Title = "Comments Settings";
    Layout = MVC.Admin.Setting.Views._Layout;
}
<h2>
    Comments Settings</h2>
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Comments</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.EnableComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnableComments)
            @Html.ValidationMessageFor(model => model.EnableComments)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ModerateComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModerateComments)
            @Html.ValidationMessageFor(model => model.ModerateComments)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.EnableNestedComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnableNestedComments)
            @Html.ValidationMessageFor(model => model.EnableNestedComments)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CloseCommentsAfterDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CloseCommentsAfterDays) Days
            @Html.ValidationMessageFor(model => model.CloseCommentsAfterDays)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CommentsPerPage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentsPerPage)
            @Html.ValidationMessageFor(model => model.CommentsPerPage)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CommentsAvatar)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.CommentsAvatar, "") None  
            @Html.RadioButtonFor(model => model.CommentsAvatar, "mm") mm
            @Html.RadioButtonFor(model => model.CommentsAvatar, "identicon") identicon
            @Html.RadioButtonFor(model => model.CommentsAvatar, "monsterid") monsterid
            @Html.RadioButtonFor(model => model.CommentsAvatar, "wavatar") wavatar
            @Html.RadioButtonFor(model => model.CommentsAvatar, "retro") retro
            @Html.ValidationMessageFor(model => model.CommentsAvatar)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ReCaptchaEnabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReCaptchaEnabled)
            @Html.ValidationMessageFor(model => model.ReCaptchaEnabled)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ReCaptchaPrivateKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReCaptchaPrivateKey)
            @Html.ValidationMessageFor(model => model.ReCaptchaPrivateKey)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ReCaptchaPublicKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReCaptchaPublicKey)
            @Html.ValidationMessageFor(model => model.ReCaptchaPublicKey)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
