@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminBasicSettings
@{
    ViewBag.Title = "Basic Settings";
    Layout = "_Layout";
}
<h2>
    Basic Settings</h2>
@using (Html.BeginForm())
{
    <fieldset>
        <legend>Basic</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlogName)
            @Html.ValidationMessageFor(model => model.BlogName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.BlogDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BlogDescription)
            @Html.ValidationMessageFor(model => model.BlogDescription)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Theme)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Theme, Model.Themes)
            @Html.ValidationMessageFor(model => model.Theme)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PostsPerPage)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostsPerPage)
            @Html.ValidationMessageFor(model => model.PostsPerPage)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeZoneId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TimeZoneId, Model.TimeZones)
            @Html.ValidationMessageFor(model => model.TimeZoneId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Language)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Language, Model.Languages)
            @Html.ValidationMessageFor(model => model.Language)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ApplicationInsightsInstrumentationKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ApplicationInsightsInstrumentationKey)
            @Html.ValidationMessageFor(model => model.ApplicationInsightsInstrumentationKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomCode)
            @Html.ValidationMessageFor(model => model.CustomCode)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
