@model IEnumerable<FujiyBlog.Core.DomainObjects.PostComment>

    @foreach (FujiyBlog.Core.DomainObjects.PostComment comment in Model)
    { 
        <div id="comment_id@(comment.Id)" class="comment@(comment.Post.Author == comment.Author ? " self" : "")">
            <p class="date">@FujiyBlog.Web.Common.DateTimeUtil.ConvertUtcToMyTimeZone(comment.CreationDate)</p>
            <p class="gravatar">
                GRAVATAR</p>
            <p class="content">@Html.Raw(comment.Comment)</p>
            <p class="author">

            @if (comment.Author == null)
            { 
                if (!string.IsNullOrEmpty(comment.AuthorWebsite))
                {
                    <a href="@comment.AuthorWebsite" target="_blank" rel="nofollow">@(comment.Author == null ? comment.AuthorName : comment.Author.DisplayName)</a>
                }
                else
                {
                    <span>@comment.AuthorName</span>
                }
            }
            else { 
                @Html.ActionLink(comment.Author.DisplayName ?? comment.Author.Username, MVC.Post.Author(comment.Author.Username, null))
            }
                @*    <%= ((BlogEngine.Core.BlogSettings.Instance.IsCommentNestingEnabled && Comment.IsApproved) ? " | " : "") %>
    <%= ReplyToLink %>    
    <%= AdminLinks %>*@
            </p>
            @*  <div class="comment-replies" id="replies_<%=Comment.Id %>" <%= (Comment.Comments.Count == 0) ? " style=\"display:none;\"" : "" %>>
    <asp:PlaceHolder ID="phSubComments" runat="server" />
  </div>*@
        </div>
    }

