@using HtmlAgilityPack
@model FujiyBlog.Core.Dto.PostSummary
           
@functions {

private string ShowPostContent(string content)
{
    content = content ?? string.Empty;
    int moreIndex = content.IndexOf("[more]", StringComparison.OrdinalIgnoreCase);
    
    if (Model.ShowFullPost)
    {
        if (moreIndex >= 0)
        {
            content = content.Remove(moreIndex, 6);
            content = content.Insert(moreIndex, "<span id=\"continue\"></span>");
        }
    }
    else
    {
        if (moreIndex >= 0)
        {
            content = content.Substring(0, content.IndexOf("[more]", StringComparison.OrdinalIgnoreCase));
            return CloseOpenedTags(content) + " " + Html.ActionLink("Read more...", MVC.Post.Details(Model.Post.Slug), null, fragment: "continue");
        }
    }
    return CloseOpenedTags(content);
}

    private string CloseOpenedTags(string html)
{
    HtmlDocument doc = new HtmlDocument();
    doc.LoadHtml(html);
    StringWriter stringWriter = new StringWriter();
    doc.Save(stringWriter);
    return stringWriter.ToString(); 
}

}

<div class="post xfolkentry" id="post@(Model.Post.Id)">
    <h1>
        @Html.ActionLink(Model.Post.Title, MVC.Post.Details(Model.Post.Slug))</h1>
    <span class="author">by @Html.ActionLink(Model.Post.Author.DisplayName ?? Model.Post.Author.Username, MVC.Post.Author(Model.Post.Author.Username, null))</span>
    <span class="pubDate">@FujiyBlog.Web.Common.DateTimeUtil.ConvertUtcToMyTimeZone(Model.Post.PublicationDate)</span>
    <div class="text">@Html.Raw(ShowPostContent(Model.Post.Content))</div>
    <div class="bottom">
        @*RATING*@
        @if (@Model.Post.Tags.Any())
        { 
            <p class="tags">
                Tags: @Html.Raw(Model.Post.Tags.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Tag(y, null)) + ", ", x => x.Trim(',', ' ')))</p>
        }
        @if (@Model.Post.Categories.Any())
        { 
            <p class="categories">
                Categories: @Html.Raw(Model.Post.Categories.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Category(y, null)) + ", ", x => x.Trim(',', ' ')))
            </p>
        }
    </div>
    <div class="footer">
@if (Request.IsAuthenticated)
{ 
    @Html.ActionLink("Edit", MVC.Admin.Post.Edit(Model.Post.Id)) <text>|</text>
    @Html.ActionLink("Delete", MVC.Admin.Post.Delete(Model.Post.Id)) <text>|</text>
}
        @Html.ActionLink("Permalink", MVC.Post.DetailsById(Model.Post.Id), new { rel = "bookmark", title = Model.Post.Title })
        | <a href="@Url.Action(MVC.Post.Details(Model.Post.Slug))#commentlist" >Comments (@Model.CommentsTotal)</a>
    </div>
</div>