@model FujiyBlog.Core.DomainObjects.Post
<div class="post xfolkentry" id="post@(Model.Id)">
    <h1>
        @Html.ActionLink(Model.Title, MVC.Post.Details(Model.Slug))</h1>
    <span class="author">by @Html.ActionLink(Model.Author.DisplayName ?? Model.Author.Username, MVC.Post.Author(Model.Author.Username, null))</span>
    <span class="pubDate">@FujiyBlog.Core.Common.DateTimeUtil.ConvertUtcToMyTimeZone(Model.PublicationDate)</span>
    <div class="text">@Html.Raw(Model.Content)</div>
    <div class="bottom">
        @*RATING*@
        @if (@Model.Tags.Any())
        { 
            <p class="tags">
                Tags: @Html.Raw(Model.Tags.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Tag(y, null)) + ", ", x => x.Trim(',', ' ')))</p>
        }
        @if (@Model.Categories.Any())
        { 
            <p class="categories">
                Categories: @Html.Raw(Model.Categories.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Category(y, null)) + ", ", x => x.Trim(',', ' ')))
            </p>
        }
    </div>
    <div class="footer">
    @if (Request.IsAuthenticated)
    { 
        @Html.ActionLink("Edit", MVC.Admin.Post.Edit(Model.Id)) <text>|</text>
        @Html.ActionLink("Delete", MVC.Admin.Post.Delete(Model.Id)) <text>|</text>
    }
        @Html.ActionLink("Permalink", MVC.Post.DetailsById(Model.Id), new { rel = "bookmark", title = Model.Title })
        | <a href="@Url.Action(MVC.Post.Details(Model.Slug))#commentlist" >Comments (@Model.Comments.Count)</a>
    </div>
</div>
