@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminCommentIndex

@{
    ViewBag.Title = "Index";
    Layout = MVC.Admin.Comment.Views._Layout;
}

<h2>Index</h2>

@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")
<table>
    <tr>
        <th>
            AuthorName
        </th>
        <th>
            AuthorEmail
        </th>
        <th>
            AuthorWebsite
        </th>
        <th>
            Comment
        </th>
        <th>
            IpAddress
        </th>
        <th>
            Avatar
        </th>
        <th>
            CreationDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Comments) {
    <tr id="item-row-@item.Id">
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorWebsite)
        </td>
        <td>
            @Html.Raw(item.Comment.Substring(0, Math.Min(item.Comment.Length, 100)))
            @if (item.Comment.Length > 100) { <text>...</text>}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Avatar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Ajax.ActionLink("Delete", MVC.Admin.Comment.Delete(item.Id), new AjaxOptions() { HttpMethod = "POST", OnBegin = "return confirm('Sure?');", OnSuccess = "RemoveItemRow(" + item.Id + ");" }, new { @class = "btn-delete-item" })
        </td>
    </tr>
}

</table>
@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")

<script type="text/javascript">
function RemoveItemRow(itemId) {
        $('#item-row-' + itemId).hide();
    }
</script>