@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Core.Extensions
@using FujiyBlog.Web.Extensions
@model FujiyBlog.Web.ViewModels.SearchViewModels.SearchResult

@{
    Layout = "_Layout";
}

@functions {
    private string GetDescription(Post item)
    {
        string text = item.Description;

        if (string.IsNullOrWhiteSpace(text))
        {
            text = item.Content.StripHtml();

            if (text.Length > 200)
            {
                text = text.Substring(0, 200) + " ...";
            }
        }
        return text;
    }
}


<h1>@ViewBag.Title <span class="badge">@Model.Count</span></h1>
<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" id="searchPageTerms" value="@Model.Terms" class="form-control" />
            <span class="input-group-append">
                <a class="btn btn-primary" href="javascript:void(0);" onclick="javascript:fujiyBlog.searchForm.sendSearch($('#searchPageTerms').val());">Search</a>
            </span>
        </div>
    </div>
</div>

@foreach (var item in Model.Posts)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a asp-controller="Post" asp-action="Details" asp-route-postSlug="@item.Slug">@item.Title</a>
            </h3>
        </div>
        <div class="panel-body">
            @GetDescription(item)
        </div>
        <div class="panel-footer">
            <strong>Categorias</strong> :
            @foreach (var category in item.PostCategories.Select(x => x.Category))
                {
                <a asp-controller="Post" asp-action="Category" asp-route-category="@category.Name">@category.Name</a>
            }
            <strong>Tags</strong> :
            @foreach (var tag in item.PostTags.Select(x => x.Tag))
                {
                <a asp-controller="Post" asp-action="Tag" asp-route-tag="@tag.Name">@tag.Name</a>
            }
        </div>
    </div>
}


@await Component.InvokeAsync("Pager", new { currentPage = Model.CurrentPage, totalPages = Model.TotalPages, nextPageText = FujiyBlog.Web.Resources.Labels.NextPosts, previousPageText = FujiyBlog.Web.Resources.Labels.PreviousPosts })
