@model FujiyBlog.Core.DomainObjects.WidgetSetting
           
@if (Request.IsAuthenticated)
{
    Layout = "Widget.cshtml";
    
    IDictionary<string, object> settings;
    if (Model.Settings == null)
    {
        settings = new Dictionary<string, object>() { { "Title", "Administration" } };
    }
    else
    {
        settings = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<IDictionary<string, object>>(Model.Settings);
    }

<h4>@Html.Raw(settings["Title"] as string)</h4>
<div class="content">
    <ul class="toprounded">
        <li>@Html.ActionLink(@Resources.Labels.Posts, MVC.Admin.Post.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Comments, MVC.Admin.Comment.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Pages, MVC.Admin.Page.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Users, MVC.Admin.User.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Settings, MVC.Admin.Setting.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.ChangePassword, MVC.Account.ChangePassword())</li>
    </ul>
</div>
}