@using Newtonsoft.Json.Linq
@model FujiyBlog.Core.DomainObjects.WidgetSetting
           
@if (Request.IsAuthenticated)
{
    Layout = "Widget.cshtml";

    JObject settings = JObject.Parse(Model.Settings ?? "{}");

<h4>@Html.Raw(settings.Value<string>("Title") ?? "Administration")</h4>
<div class="content">
    <ul class="toprounded">
        <li>@Html.ActionLink(@Resources.Labels.Posts, MVC.Admin.Post.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Comments, MVC.Admin.Comment.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Pages, MVC.Admin.Page.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Users, MVC.Admin.User.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.Settings, MVC.Admin.Setting.Index())</li>
        <li>@Html.ActionLink(@Resources.Labels.ChangePassword, MVC.Account.ChangePassword())</li>
    </ul>
</div>
}