@model FujiyBlog.Core.ViewModel.PostDetails

<div class="post xfolkentry" id="post@(Model.Post.Id)">
        <h1>
            <a href="/@Model.Post.Slug" class="taggedlink">@Model.Post.Title</a></h1>
        <span class="author">by <a href="/@Model.AuthorLogin">@Model.AuthorDisplayName</a></span>
        <span class="pubDate">@Model.Post.PublishedDate</span>
        <div class="text">@Model.Post.Content</div>
        <div class="bottom">
            RATING
            <p class="tags">
                Tags: @Model.Tags.Select(x => x.Name).Aggregate("", (x, y) => x + y + ",", x=> x.Trim(','))</p>
            <p class="categories">
                Categories:
            </p>
        </div>
        <div class="footer">
            ADMIN LINKS <a rel="bookmark" href="/posts/@Model.Post.Id/" title="<%=Server.HtmlEncode(Post.Title) %>">
                Permalink</a> | @Html.ActionLink("Comments (" + Model.CommentsCount + ")", MVC.Post.Details(Model.Post.Slug))
        </div>
    </div>