@model FujiyBlog.Core.Dto.PostSummary
<div class="post xfolkentry" id="post@(Model.Post.Id)">
    <h1>
        @Html.ActionLink(Model.Post.Title, MVC.Post.Details(Model.Post.Slug))</h1>
    <span class="author">by @Html.ActionLink(Model.Author.DisplayName, MVC.Post.Author(Model.Author.Username, null))</span>
    <span class="pubDate">@Model.Post.PublicationDate.ToLocalTime()</span>
    <div class="text">@Html.Raw(Model.Post.Content)</div>
    <div class="bottom">
        @*RATING*@
        @if (@Model.Tags.Any())
        { 
            <p class="tags">
                Tags: @Html.Raw(Model.Tags.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Tag(y, null)) + ", ", x => x.Trim(',', ' ')))</p>
        }
        @if (@Model.Categories.Any())
        { 
            <p class="categories">
                Categories: @Html.Raw(Model.Categories.Select(x => x.Name).Aggregate("", (x, y) => x + Html.ActionLink(y, MVC.Post.Category(y, null)) + ", ", x => x.Trim(',', ' ')))
            </p>
        }
    </div>
    <div class="footer">
        @*ADMIN LINKS*@
        @Html.ActionLink("Permalink", MVC.Post.DetailsById(Model.Post.Id), new { rel = "bookmark", title = Model.Post.Title })
        | <a href="@Url.Action(MVC.Post.Details(Model.Post.Slug))#commentlist" >Comments (@Model.CommentsTotal)</a>
    </div>
</div>
