@model FujiyBlog.Core.DomainObjects.Post
<div class="post xfolkentry" id="post@(Model.Id)">
    <h1>
        @Html.ActionLink(Model.Title, MVC.Post.Details(Model.Slug))</h1>
    <span class="author">by <a href="/@Model.Author.Username">@Model.Author.DisplayName</a></span>
    <span class="pubDate">@Model.PublicationDate.ToLocalTime()</span>
    <div class="text">@Model.Content</div>
    <div class="bottom">
        @*RATING*@
        @if (@Model.Tags.Any())
        { 
            <p class="tags">
                Tags: @Model.Tags.Select(x => x.Name).Aggregate("", (x, y) => x + y + ",", x => x.Trim(','))</p>
        }
        @if (@Model.Categories.Any())
        { 
            <p class="categories">
                Categories:@Model.Categories.Select(x => x.Name).Aggregate("", (x, y) => x + y + ",", x => x.Trim(','))
            </p>
        }
    </div>
    <div class="footer">
        @*ADMIN LINKS*@
        @Html.ActionLink("Permalink", MVC.Post.DetailsById(Model.Id), new { rel = "bookmark", title = Model.Title })
        | 
        <a href="@Url.Action(MVC.Post.Details(Model.Slug))#commentlist" >Comments (@Model.Comments.Count())</a>
    </div>
</div>
