@inject FujiyBlog.Core.DateTimeUtil DateTimeUtil
@inject FujiyBlog.Core.EntityFramework.SettingRepository settings
@using FujiyBlog.Web.Models
@using HtmlAgilityPack
@model FujiyBlog.Core.Dto.PostSummary

@functions {

    private static string GetString(Microsoft.AspNetCore.Html.IHtmlContent content)
    {
        var writer = new System.IO.StringWriter();
        content.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
        return writer.ToString();
    }

    private string ShowPostContent(string content)
    {
        content = content ?? string.Empty;
        int moreIndex = content.IndexOf("[more]", StringComparison.OrdinalIgnoreCase);

        if (Model.ShowFullPost)
        {
            if (moreIndex >= 0)
            {
                content = content.Remove(moreIndex, 6);
                content = content.Insert(moreIndex, "<span id=\"continue\"></span>");
            }
        }
        else
        {
            if (moreIndex >= 0)
            {
                content = content.Substring(0, content.IndexOf("[more]", StringComparison.OrdinalIgnoreCase));
                return CloseOpenedTags(content) + " " + GetString(Html.ActionLink(FujiyBlog.Web.Resources.Labels.ReadMore, "Details", "Post", null, null, "continue", new { postSlug = Model.Post.Slug }, null));
            }
        }
        return CloseOpenedTags(content);
    }

    private string CloseOpenedTags(string html)
    {
        HtmlDocument doc = new HtmlDocument();
        doc.LoadHtml(html);
        var stringWriter = new System.IO.StringWriter();
        doc.Save(stringWriter);
        return stringWriter.ToString();
    }

}

<article class="post" id="post-@(Model.Post.Id)">
    <h2 class="title">
        @Html.ActionLink(Model.Post.Title, "Details", "Post", new { postSlug = Model.Post.Slug })
    </h2>

    <p class="meta">
        <span class="date">@DateTimeUtil.ConvertUtcToMyTimeZone(Model.Post.PublicationDate).ToString()</span><span class="posted">
            @FujiyBlog.Web.Resources.Labels.By @Html.ActionLink(Model.Post.Author.DisplayName ?? Model.Post.Author.UserName, "Author", "Post", new { author = Model.Post.Author.UserName })
        </span>
    </p>

    <div class="entry">
        @Html.Raw(ShowPostContent(Model.Post.Content))
        <div class="post-footer">
            <div class="social-networks">
                @if (settings.EnableTwitterSharePosts)
                {
                    <a href="javascript:void(0);" onclick="fujiyBlog.windowOpenCenter('http://twitter.com/intent/tweet?url=@Uri.EscapeDataString(Url.Action("Details", "Post", new { postSlug = Model.Post.Slug }, Context.Request.Scheme))&text=@Uri.EscapeDataString(Model.Post.Title)&via=@Uri.EscapeDataString(settings.TwitterBlogAccount ?? "")', '', 550, 420)"><img src="~/content/images/tweet.png" /></a>
                }
                @if (settings.EnableGooglePlusOnePosts)
                {
                    <a href="javascript:void(0);" onclick="fujiyBlog.windowOpenCenter('https://plus.google.com/share?url=@Uri.EscapeDataString(Url.Action("Details", "Post", new { postSlug = Model.Post.Slug }, Context.Request.Scheme))', '', 510, 420)"><img src="~/content/images/googleplus.png" /></a>
                }
                @if (settings.EnableFacebookLikePosts)
                {
                    <a href="javascript:void(0);" onclick="fujiyBlog.windowOpenCenter('http://facebook.com/sharer.php?u=@Uri.EscapeDataString(Url.Action("Details", "Post", new {postSlug= Model.Post.Slug }, Context.Request.Scheme))&app_id=@settings.FacebookAppId', '', 644, 368);"><img src="~/content/images/facebook_share.png" /></a>
                }
            </div>

            <div class="post-links">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="Admin" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Post.Id">@FujiyBlog.Web.Resources.Labels.Edit</a>
                         <text>|</text>
                        <a asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Post.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@($"window.location.href='{Url.Content("~/")}';")">@FujiyBlog.Web.Resources.Labels.Delete</a>
                <text>|</text>
                    }
                <a asp-controller="Post" asp-action="DetailsById" asp-route-id="@Model.Post.Id" rel="bookmark" title="@Model.Post.Title">Permalink</a>

                    | 
                
                <a asp-controller="Post" asp-action="Details" asp-route-postSlug="@Model.Post.Slug" asp-fragment="commentlist" rel="bookmark" title="@Model.Post.Title">@FujiyBlog.Web.Resources.Labels.Comments (@Model.CommentsTotal)</a>
                </div>

            <div class="bottom">
                @if (@Model.Post.PostTags.Any())
                {
                    <div>
                        Tags:
                        @foreach (var tag in Model.Post.PostTags.Select(x => x.Tag))
                        {
                            <a asp-controller="Post" asp-action="Tag" asp-route-tag="@tag.Name">@tag.Name</a>
                        }
                    </div>
                }
                @if (@Model.Post.PostCategories.Any())
                {
                    <div>
                        @FujiyBlog.Web.Resources.Labels.Categories:
                        @foreach (var category in Model.Post.PostCategories.Select(x => x.Category))
                        {
                            <a asp-controller="Post" asp-action="Category" asp-route-category="@category.Name">@category.Name</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</article>
