@using FujiyBlog.Web.Common
@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminPostIndex

@{
    Layout = MVC.Admin.Post.Views._Layout;
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<p>
    @Html.ActionLink("Write new post", MVC.Admin.Post.Edit())
</p>

<div id="posts-type-filters">
@Html.ActionLink("All", MVC.Admin.Post.Index()) | @Html.ActionLink("Drafts", MVC.Admin.Post.Index(null, false))| @Html.ActionLink("Published", MVC.Admin.Post.Index(null, true))
</div>

@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")

<table>
    <tr>
        <th>
            Published
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Categories
        </th>
        <th>
            Tags
        </th>
        <th>
            CreationDate
        </th>
        <th>
            PublicationDate
        </th>
        <th>
            Comments
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.RecentPosts)
{
    <tr>
        <td class="@(item.Post.IsPublished ? "published" : "notpublished")">
            @Html.DisplayFor(modelItem => item.Post.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @(item.Post.Author.DisplayName ?? item.Post.Author.Username)
        </td>
        <td>
            @string.Join(", ", item.Post.Categories.Select(x => x.Name).ToList())
        </td>
        <td>
            @string.Join(", ", item.Post.Tags.Select(x => x.Name).ToList())
        </td>
        <td>
            @DateTimeUtil.ConvertUtcToMyTimeZone(item.Post.CreationDate)
        </td>
        <td>
            @DateTimeUtil.ConvertUtcToMyTimeZone(item.Post.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.CommentsTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Post.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Post.Id })
        </td>
    </tr>
}
</table>
@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")
