@model FujiyBlog.Web.ViewModels.PostIndex

@{
    Layout = MVC.Admin.Shared.Views._Layout;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Write new post", MVC.Admin.Post.Create())
</p>

@Pager.Links(Model.CurrentPage, Model.TotalPages)

<table>
    <tr>
        <th>
            Published
        </th>
        <th>
            Title
        </th>
        <th>
            Slug
        </th>
        <th>
            CreationDate
        </th>
        <th>
            PublicationDate
        </th>
        <th>
            IsCommentEnabled
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.RecentPosts) {
    <tr>
        <td class="@(item.Post.IsPublished ? "postpublished" : "postnotpublished")">
            @Html.DisplayFor(modelItem => item.Post.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.PublicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.IsCommentEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Post.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post.Id })
        </td>
    </tr>
}
</table>
@Pager.Links(Model.CurrentPage, Model.TotalPages)
