@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminPostIndex

@{
    Layout = MVC.Admin.Shared.Views._Layout;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Write new post", MVC.Admin.Post.Edit())
</p>

@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")

<table>
    <tr>
        <th>
            Published
        </th>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Categories
        </th>
        <th>
            Tags
        </th>
        <th>
            CreationDate
        </th>
        <th>
            PublicationDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.RecentPosts) {
    <tr>
        <td class="@(item.Post.IsPublished ? "postpublished" : "postnotpublished")">
            @Html.DisplayFor(modelItem => item.Post.IsPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Title)
        </td>
        <td>
            @(item.Post.Author.DisplayName ?? item.Post.Author.Username)
        </td>
        <td>
            @string.Join(", ", item.Post.Categories.Select(x=>x.Name).ToList())
        </td>
        <td>
            @string.Join(", ", item.Post.Tags.Select(x=>x.Name).ToList())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Post.PublicationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Post.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Post.Id })
        </td>
    </tr>
}
</table>
@Pager.Links(Model.CurrentPage, Model.TotalPages, "Next Page", "Previous Page")
