@model FujiyBlog.Web.Areas.Admin.ViewModels.AdminTagsList
@{
    ViewBag.Title = "Tags";
    Layout = "_Layout";
}
<h2>
    Tags
</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.LabelFor(model => model.TagsPostCount.FirstOrDefault().Key.Name)
            </th>
            <th>
                Posts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TagsPostCount)
        {
            <tr data-item-id="@item.Key.Id" id="item-row-@item.Key.Id">
                <td>
                    <a href="javascript:void(0);" class="btn btn-secondary btn-edit-item">Edit</a>
                    <a asp-area="Admin" asp-controller="Post" asp-action="DeleteTag" asp-route-id="@item.Key.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@($"RemoveItemRow({item.Key.Id});" )" class="btn btn-secondary btn-delete-item">@FujiyBlog.Web.Resources.Labels.Delete</a>

                    <a href="javascript:void(0);" class="btn btn-secondary btn-update-item" style="display:none">Update</a>
                    <a href="javascript:void(0);" class="btn btn-secondary btn-cancel-item" style="display:none">Cancel</a>

                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.Key.Name, new { id = "txt-item-name" + item.Key.Id, style = "display:none", @class = "txt-item-name" })
                    <span class="lbl-item-name">@Html.DisplayFor(modelItem => item.Key.Name)</span>
                </td>
                <td>
                    @item.Value
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $('.btn-edit-item').click(function () {
        var $this = $(this);
        var itemRow = $this.parents('tr');

        $this.hide();
        $this.siblings('.btn-delete-item').hide();
        $this.siblings('.btn-update-item,.btn-cancel-item').show();

        itemRow.find('.txt-item-name').show();
        itemRow.find('.lbl-item-name').hide();
    });

    $('.btn-cancel-item').click(function () {
        var $this = $(this);
        var itemRow = $this.parents('tr');

        $this.hide();
        $this.siblings('.btn-edit-item,.btn-delete-item').show();
        $this.siblings('.btn-update-item').hide();

        itemRow.find('.txt-item-name').hide();
        itemRow.find('.lbl-item-name').show();
    });

    function RemoveItemRow(itemId) {
        $('#item-row-' + itemId).hide();
    }

    $('.btn-update-item').click(function () {
        var itemRow = $(this).parents('tr');
        var itemId = itemRow.data('item-id')
        var txtItemName = itemRow.find('#txt-item-name' + itemId);
        var itemName = txtItemName.val()

        if (itemName === '') {
            return;
        }

        var callUrl = '@Url.Action("UpdateTag", "Post", new {area= "Admin" })';
        var callData = { id: itemId, name: itemName };
        $.ajax({
            type: "POST",
            url: callUrl,
            data: callData,
            success: function (response) {
                if (!response.errorMessage) {
                    txtItemName.val(itemName);
                    itemRow.find('.lbl-item-name').text(itemName);
                    itemRow.find('.btn-cancel-item').click();
                }
                else {
                    alert(response.errorMessage);
                }
            },
            error: function () {
                alert('Error');
            }
        });
    });
</script>