
@functions {

private static Uri ToUri(Microsoft.AspNetCore.Http.HttpRequest request)
{
    var hostComponents = request.Host.ToUriComponent().Split(':');

    var builder = new UriBuilder
    {
        Scheme = request.Scheme,
        Host = hostComponents[0],
        Path = request.Path,
        //Query = request.QueryString.ToUriComponent()
    };

    if (hostComponents.Length == 2)
    {
        builder.Port = Convert.ToInt32(hostComponents[1]);
    }

    return builder.Uri;
}

private string GenerateQueryString(int page)
{
    var values = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(Context.Request.QueryString.Value);
    values["page"] = page.ToString();


    return Microsoft.AspNetCore.WebUtilities.QueryHelpers.AddQueryString(ToUri(Context.Request).ToString(), values.ToDictionary(x => x.Key, x => x.Value.First()));
}
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @if (ViewBag.CurrentPage == 1)
        {
            <li class="page-item disabled"><span class="page-link" aria-hidden="true">@ViewBag.PreviousPageText</span></li>
        }
        else
        {
            <li class="page-item" aria-label="Previous"><a class="page-link" href="@GenerateQueryString(ViewBag.CurrentPage - 1)"><span aria-hidden="true">@ViewBag.PreviousPageText</span></a></li>
        }
        @if (ViewBag.ShowTwoFirst)
        {
            <li class="page-item"><a class="page-link" href="@GenerateQueryString(1)">1</a></li>
            <li class="page-item"><a class="page-link" href="@GenerateQueryString(2)">2</a></li>
            <li class="page-item disabled"><span class="page-link">...</span></li>
        }
        @foreach (int pageNumber in Enumerable.Range(ViewBag.InitialPage, ViewBag.NumbersToShow))
        {
            if (pageNumber == ViewBag.CurrentPage)
            {
                <li class="page-item active"><span class="page-link">@pageNumber <span class="sr-only">(current)</span></span></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@GenerateQueryString(pageNumber)">@pageNumber</a></li>
            }
        }
        @if (ViewBag.ShowTwoLasts)
        {
            <li class="page-item disabled"><span class="page-link">...</span></li>
            <li class="page-item"><a class="page-link" href="@GenerateQueryString(ViewBag.TotalPages - 1)">@( ViewBag.TotalPages - 1)</a></li>
            <li class="page-item"><a class="page-link" href="@GenerateQueryString(ViewBag.TotalPages)">@ViewBag.TotalPages</a></li>
        }
        @if (ViewBag.CurrentPage == ViewBag.TotalPages)
        {
            <li class="page-item disabled"><span class="page-link" aria-hidden="true">@ViewBag.NextPageText</span></li>
        }
        else
        {
            <li class="page-item" aria-label="Next"><a class="page-link" href="@GenerateQueryString(ViewBag.CurrentPage + 1)"><span aria-hidden="true">@ViewBag.NextPageText</span></a></li>
        }
    </ul>
</nav>