@inject FujiyBlog.Core.DateTimeUtil DateTimeUtil

@using FujiyBlog.Core.DomainObjects
@using FujiyBlog.Web.Models
@using FujiyBlog.Core.Extensions
@using FujiyBlog.Web.Extensions

@model IEnumerable<PostComment>

@foreach (PostComment comment in Model)
{
    <div id="comment_id-@(comment.Id)" class="comment@(comment.Post.Author == comment.Author ? " self" : "")">


        @if (!string.IsNullOrEmpty(settings.CommentsAvatar))
        {
            <p class="gravatar">
                @Html.Gravatar(comment.Author == null ? comment.AuthorEmail : comment.Author.Email, 56, settings.CommentsAvatar)
            </p>
        }

        @if (comment.Author == null)
        {
            if (!string.IsNullOrEmpty(comment.AuthorWebsite))
            {
                <a href="@comment.AuthorWebsite" target="_blank" rel="nofollow">@(comment.AuthorName)</a>
            }
            else
            {
                <span>@comment.AuthorName</span>
            }
        }
        else
        {
            @Html.ActionLink(comment.Author.DisplayName ?? comment.Author.UserName, "Author", "Post", new { author = comment.Author.UserName })
        }

        <p class="date">@DateTimeUtil.ConvertUtcToMyTimeZone(comment.CreationDate)</p>

        <p class="content">@Html.Raw(comment.Comment.Replace(Environment.NewLine, "<br />"))</p>
        
        @if (Context.UserHasClaimPermission(PermissionClaims.CreateComments))
        {
            <a href="javascript:void(0)" onclick="javascript:fujiyBlog.comments.replyComment(@comment.Id);">@FujiyBlog.Web.Resources.Labels.Reply</a>
        }

        @if (Context.UserHasClaimPermission(PermissionClaims.ModerateComments))
        {
            <a asp-controller="Comment" asp-action="Approve" asp-route-id="@comment.Id" data-ajax="true" data-ajax-method="POST" data-ajax-success="@("$('#link-approve-comment-" + comment.Id + "').fadeOut('normal', function() {$('#link-disapprove-comment-" + comment.Id + "').fadeIn('normal');});")" id="@("link-approve-comment-" + comment.Id)" style="@(comment.IsApproved ? "display: none;" : string.Empty)">Approve</a>

                <a asp-controller="Comment" asp-action="Disapprove" asp-route-id="@comment.Id" data-ajax="true" data-ajax-method="POST" data-ajax-success="@("$('#link-disapprove-comment-" + comment.Id + "').fadeOut('normal', function() {$('#link-approve-comment-" + comment.Id + "').fadeIn('normal');});")" id="@("link-disapprove-comment-" + comment.Id)" style="@(!comment.IsApproved ? "display: none;" : string.Empty)">Disapprove</a>

                <text>|</text>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("$('#replies_" + comment.Id + " > *').insertAfter('#comment_id-" + comment.Id + "');$('#comment_id-" + comment.Id + "').slideUp(1000, function () {$(this).remove();});" )">Delete</a>

            if (comment.NestedComments.Any())
            {
                <text>|</text>
                <a asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" asp-route-deleteReplies="true" data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Sure?" data-ajax-success="@("$('#comment_id-" + comment.Id + "').slideUp(1000, function () {$(this).remove();});" )">Delete this and replies</a>
            }
        }


        <div class="comment-replies" id="replies_@(comment.Id)">
            @{Html.RenderPartial("../Comment/Comments", comment.NestedComments);}
        </div>
    </div>
                }
